node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

ddss-demo-final/node_modules
ddss-demo-unsafe/node_modules
appium-tests/node_modules
